@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
}

body {
    background-color: black;
    color: white;
}

h1, h3 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

a, a:hover, a:visited {
    color: #0016dd;
    text-decoration: none;
}

footer {
    height: 50px;
}

/* Override */
.nav-link {
    font-size: 1.75rem;
    text-align: center;
}

.nav-link, .nav-link:visited {
    color: white;
}

.nav-link:focus, .nav-link:hover {
    color: gray;
}

/* Custom */
.bg-main {
    background-color: #ededed;
}

.text-black {
    color: black;
}

.introduce {
    padding: 100px 300px;
}

.description {
    width: 280px;
}

.thumbnail {
    width: 100%; 
    height: 500px;
    object-fit: cover;
}

.about {
    margin: 0;
    padding: 50px 200px;
}

.contact {
    margin: 0;
    padding: 100px 30px;
}


.item {
    margin: 0;
    padding: 0 30px;
}
